body {
  background-color: #17171d;
  color: white;
  position: relative;
}

.navbar {
  display: none;
  background-color: #15151a !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.nav-link.active {
  color: blue;
}

.navbar-toggler {
  background-color: white;
}

.conteudo {
  padding-left: 150px;
}

/* Sidebar Style INIT */

.sidebar {
  justify-content: center;
  width: 150px;
  position: fixed;
  height: 100%;
  background-color: #17171d;
  border-right: 1px solid rgba(128, 128, 128, 0.1);
}

.sidebar a,
.sidebar a.active,
.sidebar .logo {
  background-color: #17171d;
  text-align: center;
  border: 0;
  color: rgb(24, 103, 194);
}

.sidebar a {
  padding: 2rem;
}

.sidebar a:hover {
  background-color: #17171d;
}

.sidebar a:not(active) {
  color: white;
}

.sidebar a .bi {
  width: 35px;
  height: 35px;
}

.sidebar a.active .bi {
  width: 45px;
  height: 45px;
}

/* Sidebar Style END */

/* About Style INIT */

.tab-pane {
  padding-top: 50px;
  margin: 0;
}

.tab-pane.resumo, .tab-pane.contato {
  height: 100vh;
}

.tab-pane > .about-me {
  padding-top: 100px;
  height: 100%;
}

.title {
  margin-bottom: 20px;
}

.title-with-border {
  border-bottom: 1px solid #22c0e8;
  margin-bottom: 30px;
}

.row h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.jumbotron {
  background-color: #17171d;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 5px;
  margin: 0;
}

.jumbotron p {
  padding: 15px;
  word-spacing: 2px;
}

.jumbotron-link {
  display: flex;
  text-align: center;
  font-size: 18px;
}

.jumbotron-link button {
  font-size: 18px;
  padding: 10px 50px;
}

.sub-title-about-me {
  margin-top: 8px;
}

.my-location {
  color: #22c0e8;
  font-weight: 300;
}

.project {
  display: flex;
  align-items: center;
  width: 1400px;
  margin: 2rem 0;
}

.project img {
  width: 700px;
  border-radius: 1rem;
  margin: 1rem 4rem;
}

.project h2 {
  color: #22c0e8;
  margin-bottom: 1rem;
  text-align: center;
}

.media {
  display: inline-flex;
}


.media img {
  padding: 15px 20px 15px 35px;
}

.media-body > p {
  text-indent: 1em;
}

/* About Style END */

/* Resume style INIT */

.formacao {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.formacao h6 {
  color: #22c0e8;
}

.skills-progress {
  margin: 10px 0px;
}

/* Resume style END */

/* Timeline Style INIT */

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/* Timeline Style END */

/* Contato Style INIT */

.contato {
  margin: auto;
  text-align: center
}

.contato div > span, a {
  color: #22c0e8;
  padding: 0px;
}

.contato div a {
  text-decoration: none;
}

#list-messages a:hover {
  color: #000;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}

/* Contato Style END */

@media (max-width: 600px) {
  .navbar {
    display: block;
  }

  #list-tab {
    display: none;
  }

  .conteudo {
    padding-left: 0px;
  }

  .tab-pane {
    padding-top: 0;
  }

  .navbar-light .navbar-nav .nav-link.active {
    color: #22c0e8;
  }

  .title {
    margin: 0px 0px 20px 0px;
  }

  .project {
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
  }

  .project img {
    width: 280px;
  }

  .contato .col-md-4 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1000px) {
  .media {
    display: block;
  }

  .media img {
    display: none;
  }

  .media h2, h6 {
    text-align: center;
  }

  .card-projects {
    justify-content: center;
  }

  .jumbotron-link {
    flex-direction: column;
    align-items: center;
    }

  .jumbotron-link button {
    margin-top: 10px;
  }
}