body {
  background-color: #0e1010;
  color: white;
  position: relative;
}

.conteudo {
  padding-left: 170px;
}

.sidebar {
  width: 150px;
  position: absolute;
  height: 100%;
  background-color: #15151a;
}

.sidebar a,
.sidebar a.active,
.sidebar .logo {
  background-color: #15151a;
  text-align: center;
  border: 0;
  color: rgb(24, 103, 194);
}

.sidebar .logo {
  color: #15151a;
  border-bottom: 5px solid black;
}

.sidebar a:hover {
  background-color: #15151a;
}

.sidebar a:not(active) {
  color: white;
}

.sidebar a .bi {
  width: 35px;
  height: 35px;
}

.sidebar a.active .bi {
  width: 45px;
  height: 45px;
}

.tab-pane {
  padding-top: 100px;
}

.tab-pane.resumo, .tab-pane.contato {
  height: 100vh;
}

.tab-pane > .about-me {
  padding-top: 100px;
  height: 100%;
}

.title-with-border {
  border-bottom: 1px solid #22c0e8;
  margin-bottom: 30px;
}

.row {
  margin-right: 0;
}

.row h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.jumbotron {
  background-color: #15151a;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.jumbotron p {
  padding: 15px;
  word-spacing: 2px;
}

.jumbotron-link {
  display: flex;
  text-align: center;
  font-size: 18px;
}

.jumbotron-link button {
  font-size: 18px;
}

.sub-title-about-me {
  margin-top: 8px;
}

.my-location {
  color: #22c0e8;
  font-weight: 300;
}

.card {
  margin: 30px;
  background-color: #15151a;
}

.card-img-top {
  padding-top: 10px;
  height: 280px;
}

.media {
  display: inline-flex;
}


.media img {
  padding: 15px 20px 15px 35px;
}

.media-body > p {
  text-indent: 1em;
}

/* Timeline Style INIT */

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/* Timeline Style END */

.contato div > span, a {
  color: #22c0e8;
  padding: 0px;
}

.contato div a {
  text-decoration: none;
}

#list-messages a:hover {
  color: #000;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}