body {
  background-color: black;
  color: white;
}

.conteudo {
  padding-left: 170px;
}

.sidebar {
  width: 150px;
  position: absolute;
  height: 100vh;
  background-color: #1d1d1d;
}

.sidebar a,
.sidebar a.active,
.sidebar .logo {
  background-color: #1d1d1d;
  text-align: center;
  border: 0;
  color: rgb(24, 103, 194);
}

.sidebar .logo {
  border-bottom: 5px solid black;
}

.sidebar a:hover {
  background-color: #1d1d1d;
}

.sidebar a:not(active) {
  color: white;
}

.sidebar a .bi {
  width: 35px;
  height: 35px;
}

.sidebar a.active .bi {
  width: 45px;
  height: 45px;
}

h1 {
  padding-top: 20px;
  text-align: center;
}

.row {
  margin-right: 0 !important;
}

.jumbotron {
  background-color: #1d1d1d;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.jumbotron p {
  padding: 15px;
  word-spacing: 2px;
}

.jumbotron-link {
  margin-right: 200px;
}

/* @media (max-width: 800px) {
  .jumbotron, .col-md-10 {
    display: none;
  }
  #list-tab {
    width: 50px;
    font-size: 0;
  }
  #list-tab svg {
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .logo h1 {
    font-size: 0px;
  }
} */

.card {
  margin: 30px;
}

.card-img-top {
  padding-top: 10px;
  height: 280px;
}

.media {
  display: inline-flex;
}


.media img {
  padding: 15px 20px 15px 0px;
}

.card {
  background-color: #1d1d1d;
}

.formacao {
  background-color: #1d1d1d;
}

.media-body > p {
  text-indent: 1em;
}

/* Timeline Style */

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.contato div span, a {
  color: #22c0e8;
  padding: 0px;
}

.contato div a {
  text-decoration: none;
}

#list-messages a:hover {
  color: #000;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}